body{
  margin: 0;
color: #40514E;
  text-align: center;
}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin :50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  font-size: 2.5rem;
  color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
  color: #66BFBF;
  font-size: 2.5rem;
    font-family: 'Sacramento', cursive;
    margin-bottom: 10px;
}
.top-container{
  background-color: #a8e6cf;
  padding-top: 50px;
}
.middle-container{
margin: 100px 0 100px 0;
}
.bottom-container{
background-color: #66bfbf;
padding: 50px 0 20px;
}
a{
  color: #11999e;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
.avatar{
  position: relative;
  left: 20px;
  border-radius: 50%;

width:250px;height:250px;

}
.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.circular{
  border-radius: 100%;
width:250px;height:250px;
  }
.code-gif{
  border-radius: 100%;
width:25%;
margin-right: 30px;
float: left;
}
.swimming{
  border-radius: 100%;
width:25%;
margin-left: : 30px;
float: right;
}
.hr22{
   border-style: none;
  border-top-style : dotted;
  border-color:  #e8e4e1;
  border-width:5px;
  width: 5%;
  margin: 80px auto 80px auto;
}
.intro{
  width: 30%;
  margin: auto;
  line-height:2;
}
.btn {
  font-family: arial;
  color: #F5F5F5 !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7CACDE;
  text-decoration: none;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(top,  #63B8EE,  #468CCF);
  background: -ms-linear-gradient(top,  #63B8EE,  #468CCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#63B8EE), to(#468CCF));
  background: -moz-linear-gradient(top,  #63B8EE,  #468CCF);
}
.btn:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -ms-linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2BC4AD));
  background: -moz-linear-gradient(top,  #30E3CB,  #2BC4AD);
}
 @media (max-width: 500px) {
  .intro {
    font-size: 1.5rem;
    margin: 0rem 3rem;
  }
  .skills p {
    font-size: 1.5rem;
    /* margin: 0rem 3rem; */
    text-align: center;
  }
}
